.dropdown {
    position: relative;
    z-index: 1;
    display: inline-block;
    top: 10vh;
}

.lists {
    display: none;
    position: absolute;
    max-height: 80vh;
    min-width: 15vw;
    overflow: scroll;
    z-index: 1;
}

.list-btn {
    list-style-type: none;
    padding: 0;
    border: 1px solid #ddd;
    .item-btn {
        padding: 6px 12px;
        border-bottom: 1px solid #ddd;

        :last-child {
            border-bottom: none
        }
    }
}

.dropdown:hover .lists {
    display: block;
    background-color: white;
}


.map {
    height: 100vh;
    margin-top: -2em;
}
